body {
	background-color: #34343B;
	color: white;
}

.hidden {
  display: none;
}

.errorbox {
	border: 3pt solid #8B0000;
	padding: 2pt;
	background-color: #FFB6C1;
}

.emph {
	font-weight: bold;
}

.note {
	font-size: 80%;
	font-style: italic;
	padding: 3pt;
}


/****************** Slider Stuff ********************/
.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
}

/* Hide default HTML checkbox */
.switch input {
  opacity: 0;
  width: 0;
  height: 0;
}

/* The slider */
.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: 0.4s;
  transition: 0.4s;
}

input:checked + .slider {
  background-color: #F5922E;
}

input:focus + .slider {
  box-shadow: 0 0 1px #F5922E;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

/** *************** Checkbox Stuff ******************* **/
 /* Customize the label (the container) */
.container {
  position: relative;
  padding-left: 20px;
  margin-bottom: 9px;
  cursor: pointer;
  font-size: 100%;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

/* Hide the browser's default radio button */
.container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

/* Create a custom radio button */
.radiochoice {
  position: absolute;
  top: 0;
  left: 0;
  height: 15px;
  width: 15px;
  background-color: #eee;
  border-radius: 50%;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .radiochoice {
  background-color: #ccc;
}

/* When the radio button is checked, add a orange background */
.container input:checked ~ .radiochoice {
  background-color: #F5922E;
}

/* Create the indicator (the dot/circle - hidden when not checked) */
.radiochoice:after {
  content: "";
  position: absolute;
  display: none;
}

/* Show the indicator (dot/circle) when checked */
.container input:checked ~ .radiochoice:after {
  display: block;
}

/* Style the indicator (dot/circle) */
.container .radiochoice:after {
  top:4px;
  left: 4px;
  width: 7px;
  height: 7px;
  border-radius: 50%;
  background: white;
} 

